#nimbus {
  --pad: 60px;
}

.nimbus-bg {
  background-color: var(--c1);
}

.nimbus {
  padding-top: var(--pad);
  padding-bottom: var(--pad);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  place-items: start;
}

.nimbus > span {
  grid-column: 1/-1;
}

.nimbus > h1 {
  grid-column: 1/-1;
  margin-bottom: 40px;
}

.nimbus-conteudo {
  display: grid;
  gap: 20px;
}

.nimbus-conteudo > p {
  margin-bottom: 40px;
}

.btn-conteudo {
  display: flex;
  margin-bottom: 40px;
}

.btn-tags {
  display: grid;
  gap: 4px;
  align-content: space-between;
  margin-left: 12px;
}

.btn-tags li {
  display: flex;
  padding: 4px 8px;
  background-color: var(--c0);
  border-radius: 4px; 
  place-self: start;
  gap: 8px;
  align-items: center;
}

.nimbus-imagens {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.nimbus-imagens img {
  flex: 1;
  min-width: 200px;
}

.nimbus-imagens img:first-child {
  min-width: 100%;
}

.nimbus-conteudo h3 {
  margin-top: 20px;
}

.nimbus-vantagens {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: var(--c0);
  border-radius: 4px;
}

.nimbus-ficha {
  padding: 20px;
  background-color: var(--c0);
  border-radius: 4px;
}

.nimbus-ficha > li {
  display: flex;
  padding: 8px 4px;
  justify-content: space-between;
  border-bottom: 2px solid var(--c1);
}

.nimbus-ficha > li:last-child {
  border-bottom: none;
}

@media (max-width: 800px) {
  #nimbus {
    --pad: 30px;
  }

  .nimbus {
    padding-top: var(--pad);
    padding-bottom: var(--pad);
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: start;
  }

  .btn-conteudo {
    display: block;
    margin-bottom: 20px;
  }

  .btn-tags {
    margin-top: 12px;
    margin-left: 0;
  }

  .nimbus-conteudo > p {
    margin-bottom: 20px;
  }
}

/* -------- escolha a sua -------- */

#nimbus .bicicletas-lista {
  padding-top: 40px;
  padding-bottom: 60px;
}

.bicicletas-lista h2 {
  padding: 0;
}

/* pedale seguro */

.escolha-bg {
  background-color: var(--c1);
  box-shadow: inset 0 -120px 0 0 var(--c0), inset 0 120px 0 0 var(--c12);
}

.escolha-seguro {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.escolha-seguro-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.escolha-seguro-conteudo {
  display: grid;
  gap: 20px;
  align-content: start;
  padding-top: 120px;
  padding-bottom: 180px;
}

.escolha-seguro-conteudo h2 {
  padding-top: var(--pad);
  padding-bottom: var(--pad);
}

@media (max-width: 800px) {
  .escolha-bg {
    box-shadow: inset 0 120px 0 0 var(--c12);
  }

  .escolha-seguro {
    grid-template-columns: 1fr;
  }

  .escolha-seguro-conteudo {
    padding-top: 0;
    padding-bottom: 60px;
  }

  .escolha-seguro-conteudo h2 {
    font-size: 3rem;
  }
}