:root {
  --espacamento: 60px;
}

.seguros-bg {
  background-color: var(--c1);
}

.vantagens {
  padding-top: var(--espacamento);
  padding-bottom: var(--espacamento);
  background-color: var(--c0);
}

.vantagens h2 {
  margin-bottom: var(--espacamento);
}

.vantagens-conteudo {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 32px;
}

.perguntas {
  padding-bottom: var(--espacamento);
}

.seguros-titulo,
.perguntas > h2 {
  padding-top: var(--espacamento);
  padding-bottom: var(--espacamento);
}

#seguros .seguros-conteudo {
  padding-bottom: 60px;
}

.perguntas-conteudo {
  max-width: 800px;
  display: grid;
  gap: 20px;
}

.perguntas-container {
  padding: 20px;
  border-radius: 4px;
}

.perguntas-container button {
  margin-bottom: 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.perguntas-container button {
  border: none;
  width: 100%;
  text-align: left;
  background: none;
}

.perguntas-container button::before {
  content: '';
  width: 12px;
  height: 8px;
  background-color: var(--p1);
  display: block;
}

.perguntas-container button::after {
  content: '';
  width: 14px;
  height: 6px;
  display: block;
  background: url('../../img/icones/seta-abrir.svg');
  transition: transform .3s;
}

.perguntas-container button:hover::after,
.perguntas-container button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.perguntas-container:nth-child(odd) {
  background-color: var(--c11);
}

.js .perguntas-container dd {
  background-color: var(--c10);
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  position: relative;
  display: none;
}

.js .perguntas-container dd.ativo {
  display: block;
}

.perguntas-container dd::before {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--c10);
  position: absolute;
  top: -8px;
}

@media (max-width: 800px) {
  .seguros-titulo,
  .perguntas > h2,
  #seguros .seguros {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #seguros .seguros-conteudo {
    padding-bottom: 30px;
  }

  .vantagens {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .vantagens h2 {
    margin-bottom: 30px;
  }

  #seguros .seguros-conteudo,
  .perguntas {
    padding-bottom: 30px;
  }
}

@media (max-width: 500px) {
  .vantagens-conteudo {
    grid-template-columns: 1fr;
  }

  .vantagens h2,
  .perguntas h2 {
    font-size: 3.1rem;
  }
}